.calc2
{
    margin-top: 60px;
    background-color: rgb(173, 170, 170);
    padding: 40px;
    margin-left: 500px;
    border-radius: 10px;
    box-shadow: rgb(31, 29, 29) 10px 10px 5px;
}

tbody
{
    border: black;

}

.math
{
    padding: 10px;

}

.text
{
    font-family: Verdana;
}

.btn
{
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(211, 211, 211);
    }

.mathsymbol
{
    font-family: Verdana;
}
.heading
{
    margin-top: 80px;
    color: white;
    text-align: center;
}

.intro
{
    text-align: center;
    color: white;
}
.container{
    align-items: center;
}

.to{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.input{
    color: white;
}
.inputField{
    padding: 4px;
    font-size: 16px
}
.convertBtn{
    padding: 5px;
    border-radius: 3px;
    box-shadow: rgb(46, 102, 71);
    margin-top: 10px;
}
.result{
    color: white;
    margin-left: 80px;
    margin-top: -47px;
}
.resultTxt{
    color: white;
}
.selectContainer{
    display: flex;
    align-items: center;
    margin-left: 40%;
}
.inputContainer{
    margin-left: 40%;
}

